:root{
    --primeira-color: #367373;
    --segunda-color: #73b8bf;
    font-family: 'Lobster', cursive;
    -webkit-font-smoothing: antialiased;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
  }

.fundo{
    height: 100%;
    background-position: 35% bottom;
    background: url('image/coffee.jpg') center / cover no-repeat;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 600px){
    .logo{
        justify-content: center;
        flex-direction: column;
    }
}

.lista{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    
}

@media only screen and (max-width: 600px){
    .lista{
        flex-direction: column;
        justify-content: center;
    }
}

.conteudo{
    display: inline-flex;
    margin: 0.313rem;
    color: var(--primeira-color);
    text-decoration: none;
    border: 0.094rem dashed var(--segunda-color);
    padding: 0.25rem;
    font-size: 1.563rem;
}

@media only screen and (max-width: 600px){
    .botao{
        font-size:0.625rem;
    }
}

.conteudo:hover{
    color: white;
    background:var(--segunda-color);
}

.box1{
    height: 100%;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 68.75rem;
}
.text{
    max-width: 35rem;
    color: var(--primeira-color);
    padding: 6.25rem;
    font-size: 0.938rem;
    height: 37.5rem;
    flex-direction: column;
}

.h1{
    font-size: 2rem;
}

@media only screen and (max-width: 600px){
    .h1{
        font-size: 1.125rem;
    }
}

.botao{
    background: transparent;
    font-family: 'Lobster', cursive;
    font-size: 1.563rem;
    color: var(--primeira-color);
    border: 0.094rem dashed var(--segunda-color);
    margin: 0.313rem;
    padding: 0.25rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .botao{
        font-size:1.125rem;
    }
}

.botao:hover{
    color: white;
    background:var(--segunda-color);
}
